[submodule "common"]
	path = common
	url = https://github.com/Luxmart-GitHub/pwm-controller-esp-common.git
[submodule "api"]
	path = api
	url = https://github.com/Luxmart-GitHub/pwm-controller-api.git
